* {
	margin : 0px;
	padding : 0px;
}

body {
	background : url('images/body_background.gif') #fff repeat-x 0px 57px;
	color : #FFFFFF;
	text-align : center;
	font-family : tahoma, sans-serif;
	font-size : 12px;
}

a {
	color : #7B7B7B;
}

a:hover {
	color : #7B7B7B;
	text-decoration : none;
}


/* Header Style */

#page_header {
	margin : 0px auto;
	width : 753px;
	height : 57px;
	text-align : left;
	overflow : hidden;
}

#page_title {
	margin-left : 3px;
	margin-top : 13px;
	width : 680px;
	height : 44px;
	float : left;
	background : url('images/heading.png') no-repeat 30px 0px;
}

#page_title img {
	position : absolute;
	top : 15px;
	margin-left : 5px;
}

#header_search {
	margin-top : 15px;
	width : 220px;
	float : right;
	background : url('images/search_icon.gif') no-repeat 0px 11px;
	overflow : hidden;
}

#header_search form {
	margin-top : 4px;
	margin-left : 16px;
}

#header_search input {
	margin-top : 4px;
	width : 133px;
	float : left;
	font-size : 11px;
	border : #737472 1px solid;
}

#header_search input.submit {
	width : 30px;
	height : 18px;
	position : relative;
	top : 2px;
	margin : 2px;
	border : none;
}



/* Menu Style */

#page_menu {
	margin : 0px auto;
	width : 684px;
	height : 35px;
	float : none;
	clear : both;
	text-align : center;
}

#page_menu ul {
	height : 35px;
}

#page_menu li {
	padding : 12px 24px 0px;
	height : 14px;
	float : left;
	display : block;
	position: relative;
	color : #FFFFFF;
}

#page_menu a {
	color : #E4E1E1;
	text-decoration : none;
}

#page_menu a:hover {
	color : #fff;
}


/* Main Body Style */

#page_wrapper {
	margin : 0px auto;
	width : 753px;
	text-align : justify;
	display : block;
	clear : both;
}

#page_maincol {
	margin-left : 14px;
	width : 480px;
	float : left;
}

#page_rightcol {
	margin-left : 13px;
	width : 183px;
	float : left;
}



/* Main Column Style */

#maincol_top {
	margin-top : 13px;
	width : 480px;
	height : 600px;
	background : url('images/maincol_bg.gif') repeat-x 0px 0px;
	overflow : hidden;
}

#maincol_top h2 {
	width : 450px;
	height : 40px;
	background : url('images/outline.png') no-repeat 0px 0px;
}


#maincol_top .content {
	position : absolute;
	margin-left : 25px;
	width : 430px;
	color : #000;
	font-size : 18px;
	line-height : 25px;
}

#maincol_top a {
	color : #fff;
	font-weight : bold;
	text-decoration : none;
}

#maincol_top a:hover {
	text-decoration : underline;
}

.maincol_box {
	width : 480px;
	overflow : hidden;
}

.maincol_box h2 {
	width : 480px;
	height : 26px;
	background : url('images/heading_bg.gif') repeat-x 0px 0px
}


#maincol_top .content:h2 {
	color : #000000;
	font-size : 28px;
	line-height : 35px;
}

#bestsellers {
	overflow : hidden;
}

#bestsellers h2 {
	background : url('images/textbook.png') #0000FF no-repeat 0px 0px;
}

#bestsellers .content {
	width : 480px;
	height : 235px;
	float : left;
	overflow : hidden;
}

#bestsellers .wrapper {
	margin-top : 10px;
	margin-left : 10px;
	position : absolute;
	width : 460px;
	color : #000;
}

#bestsellers .date {
	color : #234662
}

#bestsellers .mailadd {
	color : blue;
}

#bestsellers .name {
	font-size : 14px;
	color : #000;
}

#bestsellers .bookcover {
	width : 210px;
	height : 230px;
	float : left;
	position : static;
}

#bestsellers p {
	padding-top : 3px;
	padding-bottom : 20px;
	float : none;
	color : #000000;
	text-align : justify;
	font-family : tahoma, sans-serif;
	font-size : 14px;
}

/* Right Column Style */

.rightcol_box {
	width : 180px;
	background-color : #fff;
	overflow : hidden;
}

.rightcol_box h2 {
	width : 180px;
	height : 26px;
}

#latest h2 {
	background : url('images/updates.png') #5C5E5F no-repeat 0px 0px;
}

#latest .wrapper {
	position : relative;
	margin : 0px 9px;
	width : 164px;
	overflow : hidden;
	color : #000000;
}

#latest h3 {
	clear : both;
	margin-top : 15px;
	margin-bottom : 10px;
	color : #234662;
	font-size : 9px;
	font-weight : bold;
}

#latest .thumbnail {
	margin-right : 5px;
	margin-bottom : 5px;
	float : left;
	position : static;
}

#latest p {
	margin-top : 2px;
	margin-bottom : 12px;
}

#latest .readmore {
	margin : 30px 0px 5px;
	text-align : right;
	clear : both;
	float : none;
	font-weight : bold;
}

#latest .readmore a {
	color : #5C5E5F;
	text-decoration : none;
}

#latest .readmore a:hover {
	color : #8C8F91;
	text-decoration : none;
}


/* Footer Style */

#page_spacing {
	clear : both;
	float : none;
	border-top : #fff 5px solid;
}

#page_footer {
	margin : 0px auto;
	width : 755px;
	height : 21px;
	background-color : #5C5E5F;
	font-size : 10px;
	color : #C8C6C6;
}

#page_footer a {
	color : #E4E1E1;
	text-decoration : none;
}

#page_footer a:hover {
	color : #fff;
}

#page_footer #rights {
	padding-top : 3px;
	padding-left : 15px;
	float : left;
}

#page_footer #links {
	padding-top : 3px;
	padding-right : 50px;
	float : right;
	font-weight : bold;
}

#page_footer #links span {
	margin-left : 30px;
	display : block;
	position : relative;
	float : left;
}

#page_credit {
	margin-top : 15px;
	margin-bottom : 7px;
	text-align : center;
	font-size : 12px;
	color : #010101;
}

#page_credit a {
	text-decoration : none;
	color : #010101;
}

#page_credit a:hover {
	color : #464646;
}



.borderbox {
	clear : both;
	float : none;
	margin-top : 13px;
	border : #A5A4A4 1px solid;
}

span {
	display : none;
}

img {
	border: 0px;
}

p {
	text-align : justify;
	line-height : 20px;
}

ul {
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
	display : block;
}

li {
	text-indent: 0px;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
}

input {
	padding : 2px 0px 1px 7px;
	background-color : #fff;
	color : #949393;
	border : #D7D7D7 1px solid;
	font-family : tahoma, sans-serif;
	font-size : 9px;
	font-weight : bold;
}

select {
	padding : 2px 0px 1px 7px;
	background-color : #fff;
	color : #949393;
	border : #D7D7D7 1px solid;
	font-family : tahoma, sans-serif;
	font-size : 9px;
	font-weight : bold;
}

input.submit {
	padding : 0px;
	border : none;
	cursor : pointer;
}

.clearthis {
	margin : 0px;
	clear : both;  
	float : none;	
	font-size : 1px;
	line-height : 0px;
}

