
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #301B04;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #B2A18C;
}

h1, h2, h3 {
	margin-top: 0px;
}

p, ol, ul {
	margin-top: 0px;
}

p, ol {
	line-height: 160%;
}

strong {
}

a {
	color: #C7B29B;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	background: url(images/subpage2_01.jpg) repeat-x left top;
}

.homepage #wrapper {
	background: url(images/bg1_01.jpg) repeat-x left top;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header-wrapper {
	height: 295px;
	background: url(images/subpage2_02.jpg) no-repeat center top;
}

.homepage #header-wrapper {
	height: 505px;
	background: url(images/bg1_02.jpg) no-repeat center top;
}

#header {
	overflow: hidden;
	height: 188px;
}

/** MENU */

#menu {
	float: right;
	width: 750px;
	height: 52px;
	padding: 136px 0px 0px 0px;
}

#menu ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
	float: left;
	height: 52px;
	margin-left: 5px;
}

#menu a {
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
}

#menu span {
	display: inline-block;
	height: 37px;
	padding: 15px 20px 0px 20px;
}

#menu li.active {
	background: url(images/homepage03.jpg) repeat-x left top;
}

#menu li.active a {
	background: url(images/homepage02.jpg) no-repeat left top;
	text-shadow: 1px 1px 1px #FFFFFF;
	color: #525035;
}

#menu li.active span {
	background: url(images/homepage04.jpg) no-repeat right top;
}

#menu li {
	background: url(images/homepage06.jpg) repeat-x left top;
}

#menu li a {
	background: url(images/homepage05.jpg) no-repeat left top;
	text-shadow: 1px 1px 1px #959362;
	color: #FFFFFF;
}

#menu li span {
	background: url(images/homepage07.jpg) no-repeat right top;
}

/** BACKGROUNDS */

#bg1 {
	background: url(images/subpage2_04.jpg) repeat-y center top;
}

#bg2 {
	background: url(images/subpage2_03.jpg) no-repeat center top;
}

#bg3 {
	overflow: hidden;
	background: url(images/subpage2_05.jpg) no-repeat center bottom;
}

#bg4 {
	background: url(images/bg1_04.jpg) repeat-y center top;
}

#bg5 {
	background: url(images/bg1_03.jpg) no-repeat center top;
}

#bg6 {
	overflow: hidden;
	background: url(images/bg1_05.jpg) no-repeat center bottom;
}

/** PAGE */

#page {
	overflow: hidden;
	width: 880px;
	padding: 60px;
}

/** CONTENT */

#content {
	float: left;
	width: 530px;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 260px;
}

/** FOOTER */

#footer {
	height: 150px;
}

#footer p {
	margin: 0px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #4D361F;
}

#footer .legal {
}

#footer .links {
}

/** BANNER */

#banner {
	width: 540px;
	height: 242px;
	padding: 75px 0px 0px 460px;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#banner h2 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -4px;
	font-size: 57px;
	font-weight: normal;
	color: #535340;
}

#banner .byline {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	line-height: normal;
	letter-spacing: -3px;
	font-size: 32px;
	color: #43382D;
}

/** TOP HEADER */

#top-header {
	height: 107px;
}

#top-header h2 {
	margin: 0px;
	padding: 40px 0px 0px 40px;
	letter-spacing: -4px;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 42px;
	font-weight: normal;
	color: #535340;
}

/** BOX 1 */

#box1 {
}

/** BOX 2 */

#box2 {
}

/** BOX 3 */

#box3 {
	margin-top: 20px;
}

/** LINK STYLE 1 */

.link-style1 {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	background: url(images/homepage09.jpg) repeat-x left top;
}

.link-style1 a {
	display: inline-block;
	height: 56px;
	background: url(images/homepage08.jpg) no-repeat left top;
	text-decoration: none;
}

.link-style1 span {
	display: inline-block;
	height: 40px;
	padding: 16px 25px 0px 25px;
	background: url(images/homepage10.jpg) no-repeat right top;
	letter-spacing: -2px;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #FFFFFF;
}

/** BOX STYLE 1 */

.box-style {
}

.box-style .title {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -2px;
	text-shadow: 1px 1px 1px #2D1C0A;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 28px;
	color: #FFFFFF;
}

.meta-bg {
	width: 530px;
	margin-top: 20px;
	background: url(images/homepage12.jpg) repeat-x left top;
}

.meta-bgleft {
	background: url(images/homepage11.jpg) no-repeat left top;
}

.meta-bgright {
	overflow: hidden;
	height: 46px;
	padding: 6px 10px 0px 10px;
	background: url(images/homepage13.jpg) no-repeat right top;
}

.post p {
	margin: 0px;
	padding: 0px;
}

.post .posted {
	float: left;
	padding: 7px 0px 0px 10px;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #795E43;
}

.post .comments {
	float: right;
}

/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding-bottom: 5px;
}

ul.style1 h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
	color: #EFF6F6;
}

ul.style1 p {
	font-size: 13px;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding-bottom: 10px;
}

/** IMAGE BORDER STYLE 1 */

.image-style1 {
	position: relative;
	float: left;
	width: 150px;
	height: 130px;
	margin-right: 20px;
}

.image-style1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style1 img {
	position: absolute;
	top: 4px;
	left: 4px;
}

.image-style1a span {
	background: url(images/pics01.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 2 */

.image-style2 {
	position: relative;
	float: left;
	width: 77px;
	height: 57px;
	margin-right: 15px;
}

.image-style2 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style2 img {
	position: absolute;
	top: 4px;
	left: 4px;
}

.image-style2a span {
	background: url(images/pics07.png) no-repeat left top;
}

/** BUTTON STYLE 1 */

.button-style1 {
	display: inline-block;
	width: 110px;
	height: 32px;
	padding: 8px 0px 0px 40px;
	background: url(images/homepage14.jpg) no-repeat left top;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #FFFFFF;
}

.button-style2 {
	display: inline-block;
	width: 81px;
	height: 32px;
	padding: 8px 0px 0px 35px;
	background: url(images/homepage15.jpg) no-repeat left top;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #FFFFFF;
}
